certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
configparser==6.0.0
cornice==6.0.1
cryptography==41.0.7
greenlet==3.0.3
gunicorn==21.2.0
hawkauthlib==2.0.0
hupper==1.12
idna==3.6
konfig==1.1
packaging==23.2
PasteDeploy==3.1.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
psycopg2-binary==2.9.9
PyBrowserID==0.14.0
pycparser==2.21
PyFxA==0.7.7
PyJWT==2.8.0
PyMySQL==1.1.0
PyNaCl==1.5.0
pyramid==2.0.2
pyramid-hawkauth==2.0.0
requests==2.31.0
simplejson==3.19.2
six==1.16.0
SQLAlchemy==2.0.25
tokenlib==2.0.0
translationstring==1.4
typing_extensions==4.9.0
urllib3==2.1.0
venusian==3.1.0
WebOb==1.8.7
zope.deprecation==5.0
zope.interface==6.1